<% layout('layouts/boilerplate')%>
<style>
    .outer {
        margin: 120px;
    }

    .card {
        width: 15rem;
    }
</style>
<div class="outer">
<div clas="card">
    <div class="card-title">
        <h1>About HelpingHands</h1>
    </div>
    <div class='card-body'>
<p>HelpingHands exists to alleviate poverty by delivering impactful social initiatives in India. Established in 2023, HelpingHands enables individuals and institutions to donate funds to chosen causes, and delivers programs with high-impact outcomes across India. With a strong network of partners and a vast geographical presence, HelpingHands brings people and organizations closer to realizing a poverty-free India.</p>

<p>Legal & Financial Information
    HelpingHands Foundation
    HelpingHands is registered as HelpingHands Foundation, a not-for-profit company u/s 8 of the Companies Act, 2013. (Reg. No. 037902, dtd. April 28, 2000), with the RoC, Ahmedabad.
    HelpingHands Foundation is registered u/s 12A of the Income Tax Act, 1961, and with the Director of Income Tax (Exemptions) u/s 80G, valid until 31/3/2026 (Approval no. AABCG2322DF20214)
    HelpingHands Foundation is registered under section 6 (1) (a) of the Foreign Contribution (Regulation) Act, 1976 (FCRA Reg. No. 041910285).
    PAN Card
    Address :
    2nd floor, Rigel, No. 15-19
    Doddanekkundi,
    Marathahalli Outer Ring Road,
    Bengaluru, Karnataka-560037</p>
</div>
</div>
</div>